.listBox {
  width: 100%;
  background: var(--color-gray-4);
  border-radius: 4px;
}

.flexbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.paddingbox {
  display: flex;
  gap: 10px;
}